</main>
<footer>
<p>
<a href='https://tildegit.org/sejo/compudanzas/src/branch/main/src/{slug}.gmo' rel='external noreferrer noopener' target=_blank>source file</a> &mdash;
most recent update: 
<time datetime='{updatedate}'>1{updatedate}</time> &mdash; 
<a href='gemini://{domain}/{slug}.gmi' rel='external noreferrer noopener' target=_blank>view in gemini://</a>
</p>
<hr/>
<p><a href='./about.html'>about</a> <a href='./contact.html'>contact</a> <a href='./support.html'>support</a></p>
<p>
<a class='icon' href='./home.html' title='compudanzas'><img src='./img/iconocompudanzas_32.png' width=32 height=32 alt='icono de compudanzas'/></a>
<a href='https://post.lurk.org/@compudanzas' target='_blank' title='@compudanzas@post.lurk.org' class='icon' rel='me'><img src='./img/icon_post.lurk.org.png' width='32' height='32' alt='post.lurk.org'/></a>
<a href='https://merveilles.town/@sejo' target='_blank' title='@sejo@merveilles.town' class='icon' rel='me'><img src='./img/icon.merveilles.svg' width='32' height='32' alt='sejo at merveilles.town'/></a>
<a href='https://webring.xxiivv.com/#random' target='_blank' title='webring' class='icon'><img src='./img/icon.black.svg' width='32' height='32' alt='xxiivv webring'/></a>
<img src='./img/icon_lgbt.png' width='32' height='32' alt='lgbt flag'/>
</p>
<p>texts, images, and code are shared by <a href="./sejo.html">sejo</a> with the <a href='https://wiki.p2pfoundation.net/Peer_Production_License' target=_blank rel='external noreferrer noopener' title='Peer Production License'>peer production license</a></p>
</footer>
</body>
