</main>
<footer>
<p>
<a href='https://tildegit.org/sejo/compudanzas/src/branch/main/src/{slug}.gmo' rel='external noreferrer noopener' target=_blank>archivo fuente</a> &mdash;
actualización más reciente:: 
<time datetime='{updatedate}'>1{updatedate}</time> &mdash; 
<a href='gemini://{domain}/{slug}.gmi' rel='external noreferrer noopener' target=_blank>en gemini://</a>
</p>
<hr/>
<p><a href='./acerca.html'>acerca</a> <a href='./contacto.html'>contacto</a> <a href='./apoyo.html'>apoyo</a></p>
<p>
<a class='icon' href='./home.html' title='{title}'><img src='./img/iconocompudanzas_32.png' width=32 height=32 alt='icono de compudanzas'/></a>
<a href='https://post.lurk.org/@compudanzas' target='_blank' title='@compudanzas@post.lurk.org' class='icon' rel='me'><img src='./img/icon_post.lurk.org.png' width='32' height='32' alt='post.lurk.org'/></a>
<a href='https://merveilles.town/@sejo' target='_blank' title='@sejo@merveilles.town' class='icon' rel='me'><img src='./img/icon.merveilles.svg' width='32' height='32' alt='sejo at merveilles.town'/></a>
<a href='https://webring.xxiivv.com/#random' target='_blank' title='webring' class='icon'><img src='./img/icon.black.svg' width='32' height='32' alt='xxiivv webring'/></a>
<img src='./img/icon_lgbt.png' width='32' height='32' alt='lgbt flag'/>
</p>
<p>textos, imágenes y código compartidos por <a href="./sejo.html">sejo</a> bajo la <a href='https://endefensadelsl.org/ppl_deed_es.html' target=_blank rel='external noreferrer noopener' title='licencia de producción de pares'>licencia de producción de pares</a></p>
</footer>
</body>
